.ant-row {
  &.page {
    .flex();
    .w-100();
    height: auto;

    >div {
      >div {
        h4 {
          font-weight: 400;
        }
      }
    }

    .page-inner {
      .flex();
      height: auto;

      >div {
        &:nth-child(1) {
          .flex();
          flex-wrap: wrap;
        }
      }
    }
  }
}