.market-header-basket {
  width: 296px;
  border: 8px solid @blue;
  overflow: auto;
  background-color: @white;
  position: sticky;
  margin-left: 16px;
  top: 128px;
  max-height: calc(100vh - 170px);
  height: 338px;
  border-radius: 2px;
  padding: 18px 14px;

  &::-webkit-scrollbar {
    .none();
  }

  .ant-list {
    .ant-list-item {
      border-bottom: 1px solid @gray-100;
      padding: 0;

      .ant-list-item-meta {
        .ant-list-item-meta-content {
          .ant-list-item-meta-title {
            font-size: 13px;
            font-weight: 400;
            color: @black;
            padding-top: 10px;
          }

          .ant-list-item-meta-description {
            color: @blue;
            font-size: 13px;
            padding-bottom: 10px;
          }
        }
      }
    }

    .ant-list-item-action {
      margin-left: 0rem;

      li {
        .flex();

        button {
          background: none;
          border: none;
          box-shadow: none;
          color: @blue;

        }

        .basket-item-quantity {
          .flex();
          .alignCenter();
          .justifyCenter();
          width: 32px;
          height: 32px;
          color: @white;
          font-weight: 600;
          background-color: @blue;
        }
      }
    }
  }

  .basket-total {
    .flex();
    .w-100();
    .justifyEnd();
    padding-top: 16px;
    max-height: 51px;
    height: 51px;

    span {
      .flex();
      .justifyCenter();
      .alignCenter();
      bottom: 0;
      border: 2px solid @blue;
      width: 92px;
      height: 51px;
      color: @blue;
      font-size: 14px;
    }
  }

  .basket-empty {
    padding: 85px 0px 20px 20px;
    .flex();
    .alignCenter();
    .justifyCenter();
    .flex-column();

    >div {
      >div {
        svg * {
          fill: @blue;
        }
      }
    }

    h5 {
      color: @blue;
    }

    >div {
      &:nth-child(3) {
        color: @black-300;
        font-weight: 400;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .ant-btn-icon-only>* {
    font-size: 12px;
  }
}